.header-container {

    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    border: 0.5px solid #e9ebed;
}

.cart-wrapper{
    display: flex;
}

.header-container h3 {
    padding: 1rem 1.5rem;
    font-size: 16px;
}

.header-container p {
    padding: 1rem 7rem;
    font-size: 12px;
    color: #65686a;
}

.header-container span {
    font-size: 15px;
}


.left-container {    
    margin-left: 1rem;
    border: 0.5px solid #e9ebed;
    display: flex;
    justify-content: center;
}

.item-thumbnail {
    margin: 1.5rem;
}

.box {
    flex: 0.8;
    display: flex;
}

.box-right del {
    font-size: 10px;
    font-weight: 100;
    text-align: left;
}

.box-right {
    width: 30%;
    /* padding: 1.5rem 0; */
    padding-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity {
    /* margin-left: 1.5rem; */
    width: 45px;
    height: 35px;
    border: 1px solid #eaebec;
}

.quantity p {
    /* padding: 0.7rem; */
    padding-top: 0.4rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: 12px;

}


.final-ammount {
    display: flex;

}

.ammount-container p {
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 14px;
}

.box-right h3 {
    padding-top: 4px;
    font-size: 16px;
}

.ammount-container {
    width: 90px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box-left {
    width: 80%;
    padding: 1.5rem;
    padding-right: 0;
}

.box-left h1 {
    color: #1bb294;
    padding-bottom: 1rem;
    font-size: 20px;
}

.box-left p {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 1rem;
    line-height: 1.3rem;
    color: #65686a;
}

.box-left h2 {
    font-size: 15px;
}

.box-left span {
    font-size: 14px;
    font-weight: 100;
}

.fa-solid {
    font-size: 12px;
}

.ammount-container-1 {
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.ammount-container-1 p {
    font-weight: 300;
    font-size: 14px;
    margin-left: 3px;
}



.checkout {
    background-color: #1ab394;
    color: #e9ebed;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    margin-right: 1rem;
}

.footer-container {
    flex: 0.8;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    border: 0.5px solid #e9ebed;
    padding: 1rem 1.5rem;
}

.shopping {
    margin-left: 1rem;
    background-color: white;
    border: 1px solid #e9ebed;
    color: #65686a;
}

button {
    cursor: pointer;
}

.main-container-body {
    background-color: #fefefe;
    width: 100vw;
    height: 100vh;
}

.main-right-container {
    flex: 0.5;
}


.total {
    padding: 1rem 1.5rem;
    border: 0.5px solid #e9ebed;
    background-color: #fff;
}

.total p {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.total h4 {
    font-size: 25px;
}

.last-container {
    padding: 1rem 1.5rem;
    border: 0.5px solid #e9ebed;
    background-color: #fff;

}

.last-container p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}

.right-container-buttons button {
    margin: 0;
}

.right-container-buttons {
    display: flex;
    gap: 0;
}

.checkout-1{
    border-radius:3px 0 0 3px;
}


.minus {
    width: 1.7rem;
    height: 2.2rem;
    font-weight: 500;
    background-color: #115179;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer
}

.plus {
    width: 1.7rem;
    height: 2.2rem;
    font-weight: 500;
    background-color: #115179;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer
}

.delete-product {
    width: 1.7rem;
    height: 2.2rem;
    font-weight: 500;
    background-color: #e75959;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer
}

.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 820px) {
    .cart-wrapper{
        display: flex;
        flex-direction: column;
    }
    .main-right-container {
        flex: 1;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-right{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .main-container-body {
        display: flex;
        flex-direction: column;
    }
}