*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header-container-one{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3.8rem;
    background-color: #e75959;
    color: #ffffff;
}

header button{
    font-size: 1rem;
    height: 2rem;
    width: 8rem;
    border-radius: 0.5rem;
    background-color: #115179;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    /* border: none; */
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex: 0.5;
    /* border: 1px solid red; */
}

a{
    text-decoration: none;
    color: #ffffff;
    /* border: 1px solid red; */
}

a h1{
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
}

@media screen and (max-width: 500px) {
    .header-container-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #e75959;
        color: #ffffff;
        height: 6rem;
        border: 1px solid red;
        padding: 1.5rem;
    }

    .cart-button {
        margin-left: 10px;
    }

}