.fetch-fail,
.no-data {
  color: #ff0000;
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  background-color: rgb(184, 173, 173);
  width: 50rem;
  height: 10rem;
  align-items: center;
  border-radius: 3rem;
  padding-left: 3rem;
  flex-wrap: wrap;
}

.fetch-fail h2 {
  font-size: 20px;
}

.no-data h2 {
  font-size: 20px;
}

@media screen and (max-width: 600px){
  .fetch-fail,
.no-data {
  color: #ff0000;
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  background-color: rgb(184, 173, 173);
  width: 0rem;
  height: 0rem;
  align-items: center;
  border-radius: 3rem;
  padding-left: 3rem;
  flex-wrap: wrap;
}

.no-data {
  font-size: 1rem;
}
}
